<html> 
<script type="text/javascript" src="elements/AngularJS/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<head>
<link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body ng-app="employeeApp" ng-controller="employeeCtrl">
<div class="header">
	<span> <h2>Enter employee details</h2> </span>
</div>
<div>
	<center>
	<table>
  <tr>
    <th>Employee</th>
    <th>Value</th>
  </tr>
  
  <tr>
	  <td>ID</td>
	  <td><input type="text" ng-model="emp_id"/></td></td>
  </tr>
  
   <tr>
	  <td>NAME</td>
	  <td> <input type="text" ng-model="emp_name"/></td>
  </tr>
  
   <tr>
	  <td>EMAIL</td>
	  <td> <input type="text" ng-model="emp_email"/></td>
  </tr>
  
  <tr>
	  <td>DEPARTMENT</td>
	  <td><input type="text" ng-model="emp_department"/></td>
  </tr>
  <tr>
	  <td>Correspondence Address</td>
	  <td><input type="text" ng-model="emp_add1"/></td>
  </tr>
   <tr>
	  <td>PINCODE</td>
	  <td><input type="text" ng-model="emp_add1pin"/></td>
  </tr>
    <tr>
	  <td>Permanent Address</td>
	  <td><input type="text" ng-model="emp_add2"/></td>
  </tr>
   <tr>
	  <td>PINCODE</td>
	  <td><input type="text" ng-model="emp_add2pin"/></td>
  </tr>
</table>
<button ng-click="submitDetails()">Submit</button>
		</br></br>
		<span ng-model="successMsg" ng-if="showMsg">Data Successfully saved !</span>
</center>
</div>
<div class = "footer"> copyright HCL</div>
</body>
</html>
